<div class="bloc-color">
  <div class="container-md">

    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <p>Enquêtes approfondies et analyses sectorielles pragmatiques pour la redirection écologique des organisations.
        </p>
        <ul>
          <li>Etat des lieux du fonctionnement d'une activité</li>
          <li>Analyses des impacts, des dépendances et des vulnérabilités face aux enjeux environnementaux et énergétiques
          </li>
          <li>Accompagnement et guide de redirection écologique pour ramener l'activité en cohérence avec nos limites
            planétaires et assurer sa viabilité.</li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-3 col-sm-6 pr-0">
        <div class="step-left text-right border-right border-secondary py-3 pr-3">
          Etat des lieux du fonctionnement d'une activité
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="text-left">
          &nbsp;
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="step-left text-right">
          &nbsp;
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 pl-0">
        <div class="step-right text-left border-left border-secondary py-3 pl-3">
          Analyses des impacts, des dépendances et des vulnérabilités face aux enjeux environnementaux et énergétiques
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-3 col-sm-6 pr-0">
        <div class="step-left text-right border-right border-secondary py-3 pr-3">
          Accompagnement et guide de redirection écologique pour ramener l'activité en cohérence avec nos limites
          planétaires et assurer sa viabilité.
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="text-left">
          &nbsp;
        </div>
      </div>
    </div>

  </div>
</div>

