<div class="bloc-color">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <p>Enquêtes approfondies et analyses sectorielles pragmatiques pour la redirection écologique des organisations.
        </p>
        <ul>
          <li>Etat des lieux du fonctionnement d'une activité</li>
          <li>Analyses des impacts, des dépendances et des vulnérabilités face aux enjeux environnementaux et énergétiques
          </li>
          <li>Accompagnement et guide de redirection écologique pour ramener l'activité en cohérence avec nos limites
            planétaires et assurer sa viabilité.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

