<div class="bloc-color">
  <div class="container-md">

    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="intro-value text-justify">
          <p>À l'échelle d'un territoire, d'une entreprise ou d'une activité artisanale, nous réalisons des enquêtes approfondies et des analyses sectorielles pragmatiques pour la redirection écologique des organisations.
          </p>
          <p>
            Quelles sont les priorités pour réorienter ses activités ?<br>
            À quoi renoncer et comment innover par soustraction ?<br>
            Quels arbitrages et quels protcoles de renoncement ?
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

