<div class="bloc">
  <div class="container-md">

    <!-- Etape #1 -->
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 col-sm-4 pr-0">
        <div class="step-left text-right border-right border-secondary py-3 pr-3">
          Etat des lieux du fonctionnement d'une activité
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-4">
        <div class="text-left">
          &nbsp;
        </div>
      </div>
    </div>

    <!-- Etape #2 -->
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 col-sm-4">
        <div class="step-left text-right">
          &nbsp;
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-4 pl-0">
        <div class="step-right text-left border-left border-secondary py-3 pl-3">
          Bilan carbone, bilan matière et design relationnel
        </div>
      </div>
    </div>

    <!-- Etape #3 -->
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 col-sm-4 pr-0">
        <div class="step-left text-right border-right border-secondary py-3 pr-3">
          Analyses des impacts, des dépendances et des vulnérabilités face aux enjeux environnementaux et énergétiques
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-4">
        <div class="text-left">
          &nbsp;
        </div>
      </div>
    </div>

    <!-- Etape #4 -->
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 col-sm-4">
        <div class="step-left text-right">
          &nbsp;
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-sm-4 pl-0">
        <div class="step-right text-left border-left border-secondary py-3 pl-3">
          Accompagnement et guide de redirection écologique pour ramener l'activité en cohérence avec nos limites planétaires et assurer sa viabilité
        </div>
      </div>
    </div>

  </div>
</div>
