---
layout: null
---

/* Surcharge CSS pour personnalisation  */

/* Header */
.intro-header .page-heading {
  text-align: left;
  margin-bottom: 0rem;
}

.intro-header .page-heading h1 {
  margin-top: 2rem;
  font-size: 3.8rem;
}

.intro-header .page-subheading h2 {
  font-size: 1.3rem;
  line-height: 1.2;
  display: block;
  font-family: 'Open Sans',  'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
  font-weight: 300;
  margin: 0rem 0 0;
}

/* Body */
body {
  font-family: 'Open Sans',  'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
  /* font-family: 'Lora', 'Times New Roman', serif; */
  font-size: 1.125rem;
}

.post-preview .post-meta,
.post-heading .post-meta {
  color: #808080;
  font-size: 1.0rem;
  font-style: italic;
  margin: 0 0 0.625rem;
  /* font-family: 'Lora', 'Times New Roman', serif; */
  font-family: 'Open Sans',  'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
}

/* Blocs */
.bloc {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Blocs color */
.bloc-color {
  background-color: {{ site.navbar-col | default: "#EAEAEA" }};
}

/* Boutons */
.call-to-action {
  text-align: right;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.btn {
  border-radius: 1.4rem ;
  margin-top: 1rem ;
  font-family: 'Open Sans',  'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
  font-weight: 380;
}

.btn-primary {
  background-color: {{ site.link-col | default: "#008AFF" }};
  border-color: {{ site.link-col | default: "#008AFF" }};
}

.btn-outline-primary {
  border-width: 0.15rem;
  font-weight: 450;
  color: {{ site.link-col | default: "#008AFF" }};
  border-color: {{ site.link-col | default: "#008AFF" }};
}

/* Navbar */
.nav-item {
  letter-spacing: 0rem !important;
}

/* Proposition de valeur */
.intro-value {
  /* margin-bottom: 6rem; */
}

/* Liste des étapes */
.step-left, .step-right {
  font-size: 1.0rem;
  line-height: 1.2;
  font-family: 'Open Sans',  'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
  font-weight: 300;
}

.step-right {
  position: relative;
  left: -1px;
}
